# Build / install artifacts
build
install
log
deps

# Pixi
.pixi
.cache

# Simulation scripts output
scripts/sim_data/

# Editors / IDE
.vscode/c_cpp_properties.json
.vscode/settings.json

# OS
.DS_Store
